.contact-info__cat{
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
}

.cat{
    max-width: 50px;
    z-index: -1;
}

.secret{
    animation: gradientShadow 3s infinite alternate;
    width: 145px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid snow;
    background: aliceblue;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.secret__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.secret__label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.secret__cat{
    max-width: 20px;
}

.secret__indicator{
    margin-right: 5px;
}

.secret-locked{
    margin-left: 5px;
}

@keyframes gradientShadow {
    0% {
        box-shadow: 0 0 15px rgb(255 0 0 / 50%);
    }

    50% {
        box-shadow: 0 0 15px rgb(0 255 0 / 50%);
    }

    100% {
        box-shadow: 0 0 15px rgb(0 0 255 / 50%);
    }
}

.addition__cat, .experiences__cat{
    max-width: 20px;
}

.experiences__cat{
    top: auto;
}

.additions-info{
    position: relative;
}

